
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html{
    scroll-behavior: smooth;
} */

body{
    font-family: 'Raleway', sans-serif;
}
/* Contenido header y letra */

@font-face {
    font-family: "OriginTech" ;
    /* src: url(/fonts/OriginTech\ personal\ use.otf); */
    src: url(/fonts/OriginTech\ personal\ use.ttf);
    font-style: normal;
    font-weight: normal;
}
.Data{
    font-family: "OriginTech" ;
    src: url(/fonts/OriginTech\ personal\ use.ttf);
    font-style: italic;
    font-weight: normal;



}
.Uno{
    font-family: "OriginTech" ;
    src: url(/fonts/OriginTech\ personal\ use.ttf);
    font-style: italic ;
    font-weight: normal;
    color: blue;
    
}

.hero{
    /* background: linear-gradient(8deg, rgba(2,0,36,1) 0%, rgba(46,46,182,1) 34%, rgba(0,212,255,1) 85%);*/
     background-image:linear-gradient(8deg, rgba(2,0,36,1) 30%, rgba(46,46,182,0.28895308123249297) 65%, rgba(0,212,255,1) 150%), url("../imagenes/wp3235103.jpg");
     width: 100%;
     height: 400px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
     position: relative;
     overflow: hidden;
}
.textos-hero{
    
     height: 300px;
     color: #fff;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
.textos-hero h1{
     font-size: 200px;
}
.textos-hero p{
     font-size: 25px;
     margin-bottom: 20px;
}
 
.textos-hero a{
     display: inline-block;
     text-decoration: none;
     padding: 12px 15px;
     background: radial-gradient(circle, rgba(63,94,251,1) 34%, rgba(32,70,253,1) 49%, rgba(0,44,255,1) 76%);
     border-radius: 8px;
     color: #fff;
 }
 
 .svg-hero{
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
 }

 /* contenido scrollers informativos */
 .contenedor,
.wave-contenedor{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    overflow-x:hidden ;
    margin: 45px auto;
    padding: 0 0 80px 0;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, .3);
    transform: translateX(400%);
    transition: transform 1s ease;
}
.wave-contenedor-1{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    overflow-x:hidden ;
    margin: 45px auto;
    padding: 0 0 10px 0;
    border-radius: 15px ;
    border: 2px solid black;
    
}
.contenedor-textos-main-1{
    width: 85%;
    margin: 0 auto;
    justify-items: center;
    text-align: center;
    align-items: center;
}
.main-1{
    font-family: "OriginTech" ;
    src: url(/fonts/OriginTech\ personal\ use.otf);
    font-style: italic;
    font-weight: normal;
}
.wave-contenedor:nth-last-of-type(even){
    transform: translateX(-400%);
}
.wave-contenedor.show{
    transform: translateX(0);
}

.contenedor{
    padding: 80px 0;
}
.contenedor-banner{
    padding: 80px 0;
    width: 90%;
    max-width: 1200px;
    margin: 30px 0;
    justify-content: center;
    text-align: center;
    
}

.titulo{
    font-weight: 300;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
    font-family: OriginTech ;
    src: url(./recursos/fonts/OriginTech\ personal\ use.ttf);
    font-style: italic;
    font-weight: normal;

}

.titulo.left{
    text-align: left;
}

.titulo.right{
    text-align: left;
}

.website{
    display: flex;
    justify-content: space-between;
}

.website img{
    width: 48%;
}

.website .contenedor-textos-main{
    width: 40%;
}

.parrafo{
    text-align: justify;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
}

/* contenido servicios */
.content-cards {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.card{
    width: 30%;
    text-align: center;
    height: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
}

.card:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}

.card i{
    margin: 30px 0 20px 0;
    color: #0008ff;
    font-size: 50px;
}

.card p{
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 10px;
}
/* trail banner */
.info{
    background: radial-gradient(circle, rgba(63,94,251,1) 34%, rgba(32,70,253,1) 49%, rgba(0,44,255,1) 76%);
    color: #fff;
}

/* Footer */
footer{
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo{
    height: 80px;
    margin-bottom: 1rem;
    opacity: 1;
}
.contenedor-iconos-redes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.icono-social{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid silver;
    background-image: url(../imagenes/FacebookBlanco.png);
    background-position:  center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
}
.icono-social:hover{
    background-color: black;
    filter: invert(1);
}
.icono-social:nth-of-type(2){
    background-image: url(../imagenes/InstagramBlanco.png);
}
.icono-social:nth-of-type(3){
    background-image: url(../imagenes/LinkedinBlanco.png);
}
.icono-social:nth-of-type(4){
    background-image: url(../imagenes/TwitterBlanco.png);
}
.contenedor-menu-footer{
    display: flex;
    list-style: none;
    color: white;
    font-size: 18px;
}
.menu-item{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}
.menu-item:hover{
    opacity: 1;
}
.copyright{
    color: white;
    opacity: 0.3;
    text-align: center;
}
/* Mapa */
.map-form{
    display: flex;
    margin:0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.mapa{
    margin: 35px ;
    display: flex;
    width: 600px;
    height: 600px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
}

/* Formulario */
#wrapper {
	font-family:verdana;
	margin: 30px  ;
	padding: 30px;
	background: #4D6879;
	font-size: 14px;
	width:600px;
    height: 600%;
	max-width:500px;
	box-sizing: border-box;
    border: 3px solid black;
    
}
label {
	display: block;
	font-size: 24px;
	padding: 13px 0;
	color: #fff;
	text-shadow: 1px 1px 1px #666;
 
}
input {
	height: 18px;
	padding: 20px;
	width: 100%;
	box-sizing: border-box;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 0 10px #444;
	-moz-box-shadow: 0 0 10px #444;
	box-shadow: 0 0 10px #444;
	border: 1px solid #fff;
}
textarea {
	height: 150px;
	width: 100%;
	box-sizing: border-box;
	padding: 15px;
	border: 1px solid #fff;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 0 10px #444;
	-moz-box-shadow: 0 0 10px #444;
	box-shadow: 0 0 10px #444;
}
input[type="text"]:hover, textarea:hover {
	border: 1px solid #fff;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25) inset, 0 0 5px rgba(255, 255, 255, 0.4);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25) inset, 0 0 5px rgba(255, 255, 255, 0.4);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.25) inset, 0 0 5px rgba(255, 255, 255, 0.4);
}
input#submit {
	text-align: center;
	color: #fff;
	height: 50px;
	padding: 0;
	text-shadow: 1px 1px 1px #000;
	font-size: 18px;
	text-transform: uppercase;
	margin-top: 50px;
	border: 1px solid #000;
	background: #000;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b3b3b), color-stop(100%, #000000));
	background: -webkit-linear-gradient(top, #3b3b3b 0%,#000000 100%);
	background: -moz-linear-gradient(top, #3b3b3b 0%,#000000 100%);
	background: -o-linear-gradient(top, #3b3b3b 0%,#000000 100%);
	background: -ms-linear-gradient(top, #3b3b3b 0%,#000000 100%);
	background: linear-gradient(top, #3b3b3b 0%,#000000 100%);
	opacity: 0.5;
}
input#submit:hover {
	color: #ccc;
	cursor: pointer;
	opacity: 0.8;
}
label {
	text-transform: uppercase;
	font-size: 14px;
}
/* Responsive design */

@media screen and (max-width:800px){
    .textos-hero h1{
        text-align: center;
        font-size: 50px;
    }
    .Data .Uno{
        font-family: OriginTech ;
        src: url(/fonts/OriginTech\ personal\ use.ttf);
        font-style: normal;
        font-weight: normal;
    }
    /* estilos generales */
    .titulo{
        font-size: 35px;
    }

    .titulo.left{
        text-align: center;
    }

    .info p{
        text-align: center;
    }
    /* Mapa y formulario */
    .map-form{
        
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        /* width: 100%;
        height: 100%; */
    }
    .mapa{
        margin: 20px auto ;
        display: flex;
        width: 95%;
        height: 500px;
        border: 2px solid black;
        justify-content: center;
        align-items: center;
    }
    #wrapper {

        font-family:verdana;
        margin: 30px 20px ;
        padding: 30px;
        background: #4D6879;
        font-size: 14px;
        width:95%;
        max-width:500px;
        box-sizing: border-box;
        border: 3px solid black;
    }
    /* section */
    .website {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        
    }

    .website img{
        width: 100%;
    }

    .website .contenedor-textos-main .mapa{
        width: 100%;
    }

    /* Cards */

    .card{
        width: 90%;
        margin-bottom: 20px;
    }
    .card-equipo{
        width: 90%;
        margin-bottom: 20px;
    }
    /* galeria */

    .galeria-cont>img{
        width: 48%;
    }

    /* last */

    .last-section img{
        width: 98%;
    }

    .last-section .contenedor-textos-main{
        width: 98%;
        margin-bottom: 20px;
    }


}

@media screen and (max-width:400px){
    .titulo,
    .textos-hero h1{
        font-size: 30px;
    }
    .Data .Uno{
        font-family: OriginTech ;
        src: url(/fonts/OriginTech\ personal\ use.ttf);
        font-style: normal;
        font-weight: normal;
    }
    .left,
    .right{
        font-size: 30px;
    }
    .textos-hero p{
        font-size: 20px;
        text-align: center;
    }

    .card{
        height: 380px;
    }
    .card-equipo{
        width: 90%;
        margin-bottom: 20px;
    }

    .website .contenedor-textos-main{
        margin-bottom: 30px;
        text-align: center;
        justify-content: center;
        
        
    }

    .website .wave-contenedor {

        width: 90%;
        margin-bottom: 20px;

    }

}