
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
}


@font-face {
    font-family: OriginTech ;
    src: url(/fonts/OriginTech\ personal\ use.ttf);
    font-style: normal;
    font-weight: normal;
}
.Data{
    font-family: OriginTech ;
    src: url(./recursos/fonts/OriginTech\ personal\ use.ttf);
    font-style: italic;
    font-weight: normal;
}
.Uno{
    font-family: OriginTech ;
    src: url(./recursos/fonts/OriginTech\ personal\ use.ttf);
    font-style: italic ;
    font-weight: normal;
    color: blue;
}

.hero{
    /* background: linear-gradient(8deg, rgba(2,0,36,1) 0%, rgba(46,46,182,1) 34%, rgba(0,212,255,1) 85%);*/
     background-image:linear-gradient(8deg, rgba(2,0,36,1) 0%, rgba(46,46,182,0.28895308123249297) 34%, rgba(0,212,255,1) 85%), url("../img/header.jpg");
     width: 100%;
     height: 650px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
     position: relative;
     overflow: hidden;
 }
 
 .textos-hero{
     height: 500px;
     color: #fff;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 
 .textos-hero h1{
     font-size: 60px;
 }
 
 .textos-hero p{
     font-size: 25px;
     margin-bottom: 20px;
 }
 
 .textos-hero a{
     display: inline-block;
     text-decoration: none;
     padding: 12px 15px;
     background: radial-gradient(circle, rgba(63,94,251,1) 34%, rgba(32,70,253,1) 49%, rgba(0,44,255,1) 76%);
     border-radius: 8px;
     color: #fff;
 }
 
 .svg-hero{
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
 }